In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('water.txt', sep='\t', header=0)

In [3]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   location   61 non-null     object
 1   town       61 non-null     object
 2   mortality  61 non-null     int64
 3   hardness   61 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.0+ KB

In [5]:
def confint(data, alpha):
    '''
    Input:
        data: Pandas Series or NumPy array
        alpha: Confidence level
    Output: Confidence interval for mean
    '''
    from scipy.stats import norm
    
    mean = data.mean()
    sigma = data.std(ddof=1)
    left = mean - norm.ppf(1 - (alpha / 2)) * (sigma / np.sqrt(len(data)))
    right = mean + norm.ppf(1 - (alpha / 2)) * (sigma / np.sqrt(len(data)))
    return (left, right)

In [6]:
from statsmodels.stats.weightstats import _tconfint_generic
from scipy.stats import norm

In [7]:
_tconfint_generic(data.mortality.mean(), data.mortality.std(ddof=1)/np.sqrt(len(data.mortality)), len(data.mortality)-1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [8]:
data_south = data[data.location == 'South']

In [9]:
_tconfint_generic(data_south.mortality.mean(), data_south.mortality.std(ddof=1) / np.sqrt(len(data_south.mortality)), len(data_south.mortality)-1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [10]:
data_north = data[data.location == 'North']

In [11]:
_tconfint_generic(data_north.mortality.mean(), data_north.mortality.std(ddof=1), len(data_north.mortality)-1, 0.05, 'two-sided')

(1355.3107141052517, 1911.8892858947481)

In [12]:
print(_tconfint_generic(data_north.hardness.mean(), data_north.hardness.std(ddof=1) / np.sqrt(len(data_south.mortality)), len(data_south.hardness)-1, 0.05, 'two-sided'))
print(_tconfint_generic(data_south.hardness.mean(), data_south.hardness.std(ddof=1) / np.sqrt(len(data_south.mortality)), len(data_north.hardness)-1, 0.05, 'two-sided'))

(19.84404952047452, 40.95595047952548)
(53.68324144151912, 85.85522009694242)

In [13]:
norm.ppf(1 - (0.05 / 2))

1.959963984540054

In [14]:
19.6 ** 2

384.1600000000001

In [15]:
import scipy
scipy.__version__

'1.5.2'

In [4]:
from scipy import stats

In [17]:
a = np.array([49,58,75,110,112,132,151,276,281,362])
stats.wilcoxon(a - 200, mode='approx')

WilcoxonResult(statistic=17.0, pvalue=0.2845026979112075)

In [18]:
a = [22,22,15,13,19,19,18,20,21,13,13,15]
b = [17,18,18,15,12,4,14,15,10]

In [19]:
stats.mannwhitneyu(a, b, alternative='greater')

MannwhitneyuResult(statistic=81.0, pvalue=0.02900499272087373)

In [21]:
def get_bootstrap_samples(data, n_samples):
    indices = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[indices]
    return samples

In [22]:
def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries

In [23]:
challenger = pd.read_csv('challenger.txt', sep='\t', index_col=0)
challenger.head()

          Temperature  Incident
Apr12.81         18.9         0
Nov12.81         21.1         1
Mar22.82         20.6         0
Nov11.82         20.0         0
Apr04.83         19.4         0

In [24]:
good = challenger[challenger.Incident == 0]
bad = challenger[challenger.Incident == 1]

In [25]:
np.random.seed(0)
good_bs = get_bootstrap_samples(good.Temperature, 1000)
bad_bs = get_bootstrap_samples(bad.Temperature, 1000)

In [26]:
stat_intervals(good_bs.mean(axis=1) - bad_bs.mean(axis=1), alpha=0.05)

array([1.42299107, 7.93861607])

In [27]:
def permutation_t_stat_ind(sample1, sample2):
    return np.mean(sample1) - np.mean(sample2)

In [28]:
def get_random_combinations(n1, n2, max_combinations):
    index = list(range(n1 + n2))
    indices = set([tuple(index)])
    for i in range(max_combinations - 1):
        np.random.shuffle(index)
        indices.add(tuple(index))
    return [(index[:n1], index[n1:]) for index in indices]

In [29]:
def permutation_zero_dist_ind(sample1, sample2, max_combinations = None):
    joined_sample = np.hstack((sample1, sample2))
    n1 = len(sample1)
    n = len(joined_sample)
    
    if max_combinations:
        indices = get_random_combinations(n1, len(sample2), max_combinations)
    else:
        indices = [(list(index), filter(lambda i: i not in index, range(n))) \
                    for index in itertools.combinations(range(n), n1)]
    
    distr = [joined_sample[list(i[0])].mean() - joined_sample[list(i[1])].mean() \
             for i in indices]
    return distr

In [30]:
def permutation_test(sample, mean, max_permutations = None, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    t_stat = permutation_t_stat_ind(sample, mean)
    
    zero_distr = permutation_zero_dist_ind(sample, mean, max_permutations)
    
    if alternative == 'two-sided':
        return sum([1. if abs(x) >= abs(t_stat) else 0. for x in zero_distr]) / len(zero_distr)
    
    if alternative == 'less':
        return sum([1. if x <= t_stat else 0. for x in zero_distr]) / len(zero_distr)

    if alternative == 'greater':
        return sum([1. if x >= t_stat else 0. for x in zero_distr]) / len(zero_distr)

In [31]:
np.random.seed(0)
permutation_test(good.Temperature, bad.Temperature, max_permutations=10000, alternative='two-sided')

0.007

In [1]:
illiteracy = pd.read_csv('illiteracy.txt', sep='\t')
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [2]:
illiteracy[['Illit', 'Births']].corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [5]:
stats.pearsonr(illiteracy.Illit, illiteracy.Births)

(0.7686630271151789, 1.5029095259924921e-19)

In [7]:
stats.spearmanr(illiteracy.Illit, illiteracy.Births)

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)

In [6]:
illiteracy[['Illit', 'Births']].corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [8]:
water = pd.read_csv('water.txt', sep='\t')
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [10]:
water[['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [11]:
water[['mortality', 'hardness']].corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [12]:
north = water[water.location == 'North'].loc[:, ['mortality', 'hardness']]

In [14]:
south = water[water.location == 'South'].loc[:, ['mortality', 'hardness']]

In [15]:
north.corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [16]:
south.corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [18]:
bar_data = pd.DataFrame({'male': [239, 515], 'female': [203, 718]})
bar_data.index = ['bar', 'no_bar']
bar_data

        male  female
bar      239     203
no_bar   515     718

In [20]:
def mcc(matrix):
    a = matrix[0, 0]
    b = matrix[0, 1]
    c = matrix[1, 0]
    d = matrix[1, 1]
    numerator = a * d - b * c
    denominator = np.sqrt((a + b)*(a + c)*(b + d)*(c + d))
    return numerator / denominator

In [21]:
mcc(bar_data.values)

0.10900237458678963

In [22]:
stats.chi2_contingency(bar_data.values)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[198.96597015, 243.03402985],
        [555.03402985, 677.96597015]]))

In [25]:
female_bar_prop = bar_data.loc['bar', 'female'] / bar_data.loc[:, 'female'].sum()
male_bar_prop = bar_data.loc['bar', 'male'] / bar_data.loc[:, 'male'].sum()

In [27]:
female_bar_prop, male_bar_prop

(0.22041259500542887, 0.3169761273209549)

In [31]:
def confint_diff(n1, p1, n2, p2, alpha):
    conf = 1 - alpha
    z = stats.norm.ppf((1 + conf) / 2)
    diff = p1 - p2
    var = p1 * (1 - p1) / n1 + p2 * (1 - p2) / n2
    s = np.sqrt(var)
    left = diff - z * s
    right = diff + z * s
    return [left, right]

In [56]:
confint_diff(bar_data.loc[:, 'male'].sum(), male_bar_prop, bar_data.loc[:, 'female'].sum(), female_bar_prop,  0.05)

[0.053905233215813156, 0.13922183141523897]

In [33]:
def proportions_diff_z_stat_ind(n1, p1, n2, p2):
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [35]:
z_diff = proportions_diff_z_stat_ind(bar_data.loc[:, 'female'].sum(), female_bar_prop, bar_data.loc[:, 'male'].sum(), male_bar_prop)

In [36]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [37]:
proportions_diff_z_test(z_diff, alternative='two-sided')

8.153453089576601e-06

In [38]:
table = np.array([[197, 111, 33],
                  [382, 685, 331],
                  [110, 342, 333]])

In [39]:
table

array([[197, 111,  33],
       [382, 685, 331],
       [110, 342, 333]])

In [44]:
chi2 = stats.chi2_contingency(table)[0]
p = stats.chi2_contingency(table)[1]
chi2, p

(293.68311039689746, 2.4964299580093467e-62)

In [42]:
table.size, len(table)

(9, 3)

In [49]:
np.minimum()

(3, 3)

In [54]:
def cramer(table, chi2):
    return np.sqrt(chi2 / (table.sum() * (np.minimum(table.shape[0], table.shape[1]) - 1)))

In [55]:
cramer(table, chi2)

0.2412013934500338

In [53]:
table.sum()

2524